.desktop__notes__content__note{
    /* display: flex;
    justify-content: space-between; */
    margin: 2vh;
    gap: 1vw;
    align-items: center;
    min-height: 10vh;
    height: auto;
    background-color: #fff;
    border-radius: 1vh;
}

.desktop__notes__content__date__time__details{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    background-color: #fff;
    margin-right: 1vh;
}

.desktop__notes__content__date{
    font-size: 1rem;
    font-weight: 600;
    margin: 1vh;
}

.desktop__notes__content__time{
    margin: 0 1vh 0 1vh;
    font-size: 1rem;
    font-weight: 600;
}

.desktop__notes__content__details{
    min-height: 10vh;
    height: auto;
    /* width: 50vw; */
    text-align: left;
    padding: 2vh;
}